
@import "../utils/variables";

@import "../utils/mixin";

// bloque body
body{
    background-color: #d440dc5d;
    font-family: 'Blinker', sans-serif;
 
}
 // header principal
 /* header principal*/
 h1 {
	width: 100%;
	height: 40px;
	padding: 10px;
	text-align-last: center;
	font-size: 20px;
	position: sticky;
}
nav {
	background-color: $color-secundario;
	font-size: 30px;
}
.nav-item {
	a {
		color: $color-principal;
	}
}
.container-items {
	@include flex;
}
.item {
	img {
		max-width: 100%;
		height: 200px;
		object-fit: cover;
		border-radius: 10px;
		transition: all .5s;
	}
	width: 200px;
	margin: 20px;
	border-radius: 10px rgba(0,0,0,0.50);
	text-align: center;
	overflow: hidden;
	&:hover {
		box-shadow: 0 10px 20px rgba(0,0,0,0.30);
		img {
			transform: scale(1.2);
		}
	}
	p {
		padding: 10px 10px;
		text-align: center;
		font-size: 20px;
		margin: 0;
		font-weight: 200px;
	}
}
form {
	width: 400px;
	margin: auto;
	background: rgba(24, 23, 24, 0.802);
	padding: 10px 20px;
	overflow: hidden;
	box-sizing: border-box;
	margin-top: 30px;
	border-radius: 30px;
	background-attachment: fixed;
	h2 {
		color: $color-secundario;
		text-align: center;
		margin: 0;
		font-size: 30px;
		margin-bottom: 20px;
	}
}
input {
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
}
textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}
#boton {
	background: rgba(16, 16, 16, 0.769);
	color: $color-terciario;
	padding: 20px;
}
.mapa {
	margin: 50px;
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
	iframe {
		width: 100%;
		height: 400px;
		height: 300px;
	}
}
.today-special {
	@include flex;
}
.group__title {
	width: 100%;
	text-align: center;
	font-weight: 100px;
	font-size: 1.8em;
	margin: 0px;
	color: $color-principal;
	font-weight: bolder;
	background-color: $color-terciario;
}
.today-special__img {
	margin: auto;
}
.column {
	.destacado {
		width: 220px;
		height: 200px;
		margin: 10px;
		display: flex;
		flex-wrap: wrap;
		border-radius: 10px;
		margin-top: 10px;
	}
	img {
		border-radius: 10px 10px 0 0;
		transition: all .5s;
		box-shadow: 0px 10px 20px rgba(0,0,0,0.40);
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}
.today-special__title {
	font-size: 1.3em;
	padding-top: 10px;
	padding-bottom: 20px;
	font-weight: bolder;
	text-align: center;
}
.today-special__price {
	font-size: 20px;
	color: $color-principal;
	font-weight: bolder;
}
footer {
	background: rgba(128, 128, 128, 0.682);
	height: 50%;
	width: 100%;
	padding-top: 10 10px;
	color: $color-terciario;
}
.footer-content {
	@include flex;
	flex-direction: column;
	text-align: center;
	h3 {
		font-size: 1.8rem;
		font-weight: 400;
		text-transform: capitalize;
		line-height: 3em;
		color: $color-principal;
		p {
			max-width: 500px;
			margin: 10px auto;
			line-height: 28px;
			font-size: 20px;
		}
	}
}
.socials {
	list-style: none;
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
	li {
		margin: 0 10px;
		a {
			text-decoration: none;
			color: $color-principal;
			i {
				font-size: 1.1rem;
				transition: color .4s ease;
				&:hover {
					i {
						color: $blue;
					}
				}
			}
		}
	}
}
.footer-bottom {
	width: 100%;
	background: #262424;
	padding: 20px 0;
	text-align: center;
	p {
		font-size: 20px;
		color: #eae8e8;
		font-weight: bold;
		word-spacing: 2px;
		text-transform: capitalize;
	}
}
